# BoardGameGeek API Key
# Get yours at: https://boardgamegeek.com
BGG_API_KEY=your_bgg_api_key_here

# Upstash Redis (optional)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# PostHog
# Get your token from: https://app.posthog.com/settings/project-settings
VITE_PUBLIC_POSTHOG_TOKEN=
